 <nav>
    <div class="row nav-wrapper z-depth-5 blue darken-3">
       <div class="col s1"></div> 
      <a href="http://www.nationalenquirer.com/"class="navLogo col s4 brand-logo">MORE HOT STORIES HERE !!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="col s2 active"><a href="https://blooming-chamber-70273.herokuapp.com/">Home</a></li>
        <li id="savedNav" class="col s2"><a href="https://blooming-chamber-70273.herokuapp.com/saved">Saved</a></li>
        <li id= "scrapebtn"class="waves-effect waves-light btn orange"><a href="https://blooming-chamber-70273.herokuapp.com/scrape">Scrape New Articles</a></li>
      </ul>
    </div>
  </nav>
   <div  id="savedArticles"></div>
   <div id="notes"></div>