<nav>
    <div class="nav-wrapper z-depth-5">
      <a href="#" class="brand-logo">Scrape Democracy Now!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/saved">Saved Articles</a></li>
        <li class="waves-effect waves-light btn"><a href="http://localhost:3000/scrape">Scrape New Articles</a></li>
      </ul>
    </div>
  </nav>
   <div  id="articles"></div>